.split0 {background:url('../images/split-info.png') 0 -825px;width:400px;height:217px;}
.split1 {background:url('../images/split-info.png') 0 -543px;width:400px;height:282px;}
.split2 {background:url('../images/split-info.png') -400px -460px;width:400px;height:365px;}
.split3 {background:url('../images/split-info.png') -400px 0;width:400px;height:460px;}
.split4 {background:url('../images/split-info.png') 0 0;width:400px;height:543px;}
.split9 {background:url('../images/split-info.png') -400px -825px;width:400px;height:199px;}