@font-face{
font-family:'bitstream';
src:url('bitstream.eot');
src:url('bitstream.eot?#iefix') format('embedded-opentype'),url('bitstream.woff') format('woff'),url('bitstream.ttf') format('truetype'),url('bitstream.svg#bitstream') format('svg'); 
font-weight:normal;font-style:normal;
}
@font-face{
font-family:'tex-gyre';
src:url('tex-gyre-regular.eot');
src:url('tex-gyre-regular.eot?#iefix') format('embedded-opentype'),url('tex-gyre-regular.woff') format('woff'),url('tex-gyre-regular.ttf') format('truetype'),url('tex-gyre-regular.svg#tex-gyre-regular') format('svg'); 
font-weight:normal;font-style:normal;
}
@font-face{
font-family:'tex-gyre';
src:url('tex-gyre-bold.eot');
src:url('tex-gyre-bold.eot?#iefix') format('embedded-opentype'),url('tex-gyre-bold.woff') format('woff'),url('tex-gyre-bold.ttf') format('truetype'),url('tex-gyre-bold.svg#tex-gyre-bold') format('svg');
font-weight:bold;font-style:normal;
}
@font-face{
font-family:'tex-gyre';
src:url('tex-gyre-italic.eot');
src:url('tex-gyre-italic.eot?#iefix') format('embedded-opentype'),url('tex-gyre-italic.woff') format('woff'),url('tex-gyre-italic.ttf') format('truetype'),url('tex-gyre-italic.svg#tex-gyre-italic') format('svg');
font-weight:normal;font-style:italic;
}
@font-face{
font-family:'tex-gyre';
src:url('tex-gyre-bold-italic.eot');
src:url('tex-gyre-bold-italic.eot?#iefix') format('embedded-opentype'),url('tex-gyre-bold-italic.woff') format('woff'),url('tex-gyre-bold-italic.ttf') format('truetype'),url('tex-gyre-bold-italic.svg#tex-gyre-bold-italic') format('svg');
font-weight:bold;font-style:italic;
}